* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #ffffff;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  color: #ccc;
  text-decoration: none;
  margin-left: 25px;
  font-size: 15px;
}

nav a:hover,
nav a.active {
  color: #00ffd5;
}


.contact-section {
  min-height: 85vh;
  text-align: center;
  padding: 80px 20px;
}

.contact-section h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 40px;
}


.contact-info {
  margin-bottom: 40px;
  line-height: 2;
}

.contact-info span {
  color: #00ffd5;
  font-weight: 600;
}


.social-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.social-card {
  width: 200px;
  padding: 25px;
  border-radius: 14px;
  text-decoration: none;
  color: white;
  background: #151515;
  border: 1px solid #00ffd5;
  transition: 0.3s ease;
}

.social-card h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.social-card p {
  font-size: 14px;
  opacity: 0.8;
}

.social-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(0, 255, 213, 0.4);
}


.github:hover {
  background: #1f1f1f;
}

.linkedin:hover {
  background: #0077b5;
}


footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #888;
}

